<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>JobListing | Create Account</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css" />

    <!-- Main css -->
    <link rel="stylesheet" href="/css/style-register.css" />
  </head>
  <body>
    <div class="main">
      <h1>Create account</h1>
      <div class="container">
        <div class="sign-up-content">
          <form method="POST" class="signup-form">
            <h2 class="form-title">What type of user are you ?</h2>
            <div class="form-radio">
              <input type="radio" name="member_level" value="employee" id="employee" checked="checked" />
              <label for="employee">Employee</label>
              <input type="radio" name="member_level" value="manager" id="manager" />
              <label for="manager">Manager</label>
            </div>

            <div class="form-textbox">
              <label for="name">Full name</label>
              <input type="text" name="fullName" id="fullName" placeholder="Your name" />
            </div>

            <div class="form-textbox">
              <label for="username">Email</label>
              <input type="email" name="username" id="username" placeholder="Your email id" />
            </div>

            <div class="form-textbox">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" />
            </div>
            <div>
              <div class="form-group js-input-file">
                <input class="input-file" type="file" name="file_cv" id="file" />
                <label class="label--file" for="file">Choose Image</label>
                <span class="input-file__info">No image chosen</span>
              </div>
            </div>
            <div class="form-textbox">
              <input type="submit" name="submit" id="submit" class="submit" value="Create account" />
            </div>
          </form>

          <p class="loginhere">Already have an account ?<a href="/auth/login" class="loginhere-link"> Log in</a></p>
        </div>
      </div>
    </div>

    <!-- JS -->
    <script src="/js/vendor/jquery/jquery.min.js"></script>
    <script src="/js/main-login.js"></script>
  </body>
</html>
